<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.virugan.mytoolsbox.mapper.myaccountAuodilMapper" >
  <resultMap id="BaseResultMap" type="com.virugan.mytoolsbox.entry.myaccountAuodil" >
    <result column="cols_numb" property="colsNumb" jdbcType="INTEGER" />
    <result column="star_date" property="starDate" jdbcType="VARCHAR" />
    <result column="tend_date" property="tendDate" jdbcType="VARCHAR" />
    <result column="tran_good" property="tranGood" jdbcType="VARCHAR" />
    <result column="tran_dict" property="tranDict" jdbcType="VARCHAR" />
    <result column="tran_amts" property="tranAmts" jdbcType="FLOAT" />
    <result column="item_type" property="itemType" jdbcType="VARCHAR" />
    <result column="grop_type" property="gropType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cols_numb, star_date, tend_date, tran_good, tran_dict, tran_amts, item_type, grop_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.virugan.mytoolsbox.entry.myaccountAuodilExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from myaccount_auodil
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.virugan.mytoolsbox.entry.myaccountAuodilExample" >
    delete from myaccount_auodil
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.virugan.mytoolsbox.entry.myaccountAuodil" >
    insert into myaccount_auodil (cols_numb, star_date, tend_date, 
      tran_good, tran_dict, tran_amts, 
      item_type, grop_type)
    values (#{colsNumb,jdbcType=INTEGER}, #{starDate,jdbcType=VARCHAR}, #{tendDate,jdbcType=VARCHAR}, 
      #{tranGood,jdbcType=VARCHAR}, #{tranDict,jdbcType=VARCHAR}, #{tranAmts,jdbcType=FLOAT}, 
      #{itemType,jdbcType=VARCHAR}, #{gropType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.virugan.mytoolsbox.entry.myaccountAuodil" >
    insert into myaccount_auodil
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="colsNumb != null" >
        cols_numb,
      </if>
      <if test="starDate != null" >
        star_date,
      </if>
      <if test="tendDate != null" >
        tend_date,
      </if>
      <if test="tranGood != null" >
        tran_good,
      </if>
      <if test="tranDict != null" >
        tran_dict,
      </if>
      <if test="tranAmts != null" >
        tran_amts,
      </if>
      <if test="itemType != null" >
        item_type,
      </if>
      <if test="gropType != null" >
        grop_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="colsNumb != null" >
        #{colsNumb,jdbcType=INTEGER},
      </if>
      <if test="starDate != null" >
        #{starDate,jdbcType=VARCHAR},
      </if>
      <if test="tendDate != null" >
        #{tendDate,jdbcType=VARCHAR},
      </if>
      <if test="tranGood != null" >
        #{tranGood,jdbcType=VARCHAR},
      </if>
      <if test="tranDict != null" >
        #{tranDict,jdbcType=VARCHAR},
      </if>
      <if test="tranAmts != null" >
        #{tranAmts,jdbcType=FLOAT},
      </if>
      <if test="itemType != null" >
        #{itemType,jdbcType=VARCHAR},
      </if>
      <if test="gropType != null" >
        #{gropType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.virugan.mytoolsbox.entry.myaccountAuodilExample" resultType="java.lang.Integer" >
    select count(*) from myaccount_auodil
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update myaccount_auodil
    <set >
      <if test="record.colsNumb != null" >
        cols_numb = #{record.colsNumb,jdbcType=INTEGER},
      </if>
      <if test="record.starDate != null" >
        star_date = #{record.starDate,jdbcType=VARCHAR},
      </if>
      <if test="record.tendDate != null" >
        tend_date = #{record.tendDate,jdbcType=VARCHAR},
      </if>
      <if test="record.tranGood != null" >
        tran_good = #{record.tranGood,jdbcType=VARCHAR},
      </if>
      <if test="record.tranDict != null" >
        tran_dict = #{record.tranDict,jdbcType=VARCHAR},
      </if>
      <if test="record.tranAmts != null" >
        tran_amts = #{record.tranAmts,jdbcType=FLOAT},
      </if>
      <if test="record.itemType != null" >
        item_type = #{record.itemType,jdbcType=VARCHAR},
      </if>
      <if test="record.gropType != null" >
        grop_type = #{record.gropType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update myaccount_auodil
    set cols_numb = #{record.colsNumb,jdbcType=INTEGER},
      star_date = #{record.starDate,jdbcType=VARCHAR},
      tend_date = #{record.tendDate,jdbcType=VARCHAR},
      tran_good = #{record.tranGood,jdbcType=VARCHAR},
      tran_dict = #{record.tranDict,jdbcType=VARCHAR},
      tran_amts = #{record.tranAmts,jdbcType=FLOAT},
      item_type = #{record.itemType,jdbcType=VARCHAR},
      grop_type = #{record.gropType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>