<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.virugan.mytoolsbox.mapper.myflbatchNmelstMapper" >
  <resultMap id="BaseResultMap" type="com.virugan.mytoolsbox.entry.myflbatchNmelst" >
    <result column="grop_name" property="gropName" jdbcType="VARCHAR" />
    <result column="suff_name" property="suffName" jdbcType="VARCHAR" />
    <result column="grop_type" property="gropType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    grop_name, suff_name, grop_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.virugan.mytoolsbox.entry.myflbatchNmelstExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from myflbatch_nmelst
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.virugan.mytoolsbox.entry.myflbatchNmelstExample" >
    delete from myflbatch_nmelst
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.virugan.mytoolsbox.entry.myflbatchNmelst" >
    insert into myflbatch_nmelst (grop_name, suff_name, grop_type
      )
    values (#{gropName,jdbcType=VARCHAR}, #{suffName,jdbcType=VARCHAR}, #{gropType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.virugan.mytoolsbox.entry.myflbatchNmelst" >
    insert into myflbatch_nmelst
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gropName != null" >
        grop_name,
      </if>
      <if test="suffName != null" >
        suff_name,
      </if>
      <if test="gropType != null" >
        grop_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gropName != null" >
        #{gropName,jdbcType=VARCHAR},
      </if>
      <if test="suffName != null" >
        #{suffName,jdbcType=VARCHAR},
      </if>
      <if test="gropType != null" >
        #{gropType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.virugan.mytoolsbox.entry.myflbatchNmelstExample" resultType="java.lang.Integer" >
    select count(*) from myflbatch_nmelst
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update myflbatch_nmelst
    <set >
      <if test="record.gropName != null" >
        grop_name = #{record.gropName,jdbcType=VARCHAR},
      </if>
      <if test="record.suffName != null" >
        suff_name = #{record.suffName,jdbcType=VARCHAR},
      </if>
      <if test="record.gropType != null" >
        grop_type = #{record.gropType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update myflbatch_nmelst
    set grop_name = #{record.gropName,jdbcType=VARCHAR},
      suff_name = #{record.suffName,jdbcType=VARCHAR},
      grop_type = #{record.gropType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>